

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  h2, p{
    margin: 0
  }

  article{
    height:12em;
    background-color: rgba(0,0,0,0.3);

  }

  h2{
    font-size:2em;
    line-height: 1.5em;
  }  
  /* Rulesets to be matched up with selectors */
  
  .card{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red; /*color spelled wrong*/
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card article img{
    max-height: 100%; 
    float: right;
  }
  

  .card footer, .card header{
    height: 3em;
    padding: 1em;
  }

  .card footer p{
    font-size:1.5em;
    line-height: 1.5em
  }

  .card article p{
    padding: 1em;
    color: white;
  }


  .card2{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: purple; /*color spelled wrong*/
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family: "Comic Sans MS";
  }
  
  .card2 header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card2 footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card2 article img{
    max-height: 100%; 
    float: right;
  }
  

  .card2 footer, .card2 header{
    height: 3em;
    padding: 1em;
  }

  .card2 footer p{
    font-size:1.5em;
    line-height: 1.5em
  }

  .card2 article p{
    padding: .3em;
    padding-left:1.2em;
    color: white;
  }